In [7]:
import requests
import pandas as pd

In [5]:
endpoint = 'https://ghibliapi.herokuapp.com/films'
response = requests.get(endpoint).json()

In [12]:
ghib_df = pd.json_normalize(response)
ghib_df.columns

Index(['id', 'title', 'original_title', 'original_title_romanised', 'image',
       'movie_banner', 'description', 'director', 'producer', 'release_date',
       'running_time', 'rt_score', 'people', 'species', 'locations',
       'vehicles', 'url'],
      dtype='object')

In [ ]:
### A query, essentially, in the style of author Matt Harrison
(
ghib_df ### Selecting the dataframe
[['title', 'rt_score']] ### Selecting the columns
.sort_values(by=['rt_score'], ascending=False) ### Sorting by RT score
)
### rt_score datatype needs to be adjusted, as the top scores (100) are at the bottom

In [ ]:
### Adjusting the datatype of RT score field
ghib_df['rt_score'] = pd.to_numeric(ghib_df['rt_score'])
ghib_df.dtypes

In [21]:
(
ghib_df ### Selecting the dataframe
[['title', 'rt_score']] ### Selecting the columns
.sort_values(by=['rt_score'], ascending=False) ### Sorting by RT score
)

                              title  rt_score
4                    Only Yesterday       100
18  The Tale of the Princess Kaguya       100
10                    Spirited Away        97
1            Grave of the Fireflies        97
3           Kiki's Delivery Service        96
0                 Castle in the Sky        95
15                         Arrietty        95
5                       Porco Rosso        94
2                My Neighbor Totoro        93
20                   The Red Turtle        93
8                 Princess Mononoke        92
19            When Marnie Was There        92
14                            Ponyo        92
7              Whisper of the Heart        91
17                   The Wind Rises        89
11                  The Cat Returns        89
12             Howl's Moving Castle        87
16            From Up on Poppy Hill        83
6                          Pom Poko        78
9          My Neighbors the Yamadas        75
13              Tales from Earthsea        41
21             Earwig and the Witch        30